.home_wrapper{
	height: 100%;
	width: 100%;
}
.home_wrapper .header{
	height: 1rem;
	width: 100%;
	padding: 0 .25rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home_wrapper .header .searchBox{
	width: 88%;
	height: .6rem;
	border-radius:.3rem;
}
.home_wrapper .header .icon_right{
	height: .5rem;
	width: .5rem;
	display: block;
	border-radius: 50%;
	border: 1px solid #eee;
	padding: .2rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
}
#banner{
	width: 95%;
	height: 3rem;
	background: #ccc;
	margin: 0 auto;
	display: none;
}